body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background: rgba(161, 23, 23, 0.76); /* light gray background */
  color: #f5f5f5; /* dark gray/black text */
  scroll-behavior: smooth;
}

nav{
  position: sticky;
  top: 0;
  background: #4169e1;
  padding: 0.8rem;
  z-index: 1000;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 1.2rem;
}

nav ul li a {
  color: whitesmoke;
}

nav ul li a:hover {
  color: #ffd700;
}

header {
  background: #1e1e1e;
  color: #ffd700;
  text-align: center;
  padding: 3rem 1rem;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

h1, h2 {
  margin-bottom: 1rem;
  color: #ffd700;
}

section {
  padding: 2.5 rem;
  max-width: 900px;
  margin: auto;
  border-radius: 15px;
  background: #1e1e1e;
  margin-bottom: 2rem;
}

#projects {
  background: #2c2c2c;
}

.project-card {
  background: #333;
  padding: 1.5 rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0 3 px 6 px rgba(0,0,0,0.2);
  transition: transform 0.2s ease, box-shadow 0.2 ease, border 0.2 ease;
}

.project-card h3 {
  margin-top: 0;
  color: #d32c20fa;
}

.project-card :hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
  border: 2px solid #ffd700;
}

#quotes {
  background: #2c2c2c;
  padding: 2rem;
  border-radius: 15px;
  text-align: center;
  font-style: italic;
}

#quotes button {
  margin-top: 1 rem;
  padding: 0.7rem 1.2rem;
  background: #ffd700;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

#quotes button:hover {
  background: #4169e1;
  color: whitesmoke;
}

form {
  display: flex;
  flex-direction: column;
}

input, textarea, button {
  margin-bottom: 1rem;
  padding: 0.6rem;
  border-radius: 8px;
  border: 1px solid #444;
  background: #2c2c2c;
  color: #f5f5f5;
  font-size: 1 rem;
}

input:focus, textarea:focus {
  border: 1px solid #ffd700;
  outline: none; 
}

button {
  background: #ffd700;
  color: black;
  border: none;
  cursor: pointer ;
  font-weight: bold;
}

button:hover {
  background: #4169e1;
  color: white;
}

footer {
  text-align: center;
  background: #1e1e1e;
  color: #f5f5f5;
  padding: 1rem;
  margin-top: 2rem;
  border-top-left-radius: 25px;
  border-top-right-radius: 25 px;
}